body {
  background-color:snow;
}  

  .navbar {
    overflow: hidden;
    background-color: darkslategrey;
    outline:auto;
  }

  /*Definerar hur varje länk ska se ut i navigationsbaren*/
  .navbar a {
    float: left;
    padding: 14px 15px;
    background-color: darkslategray;
    color: beige;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
  }

  /*Ändrar bakgrundsfärg och textfärg när man håller musen ovanför länkarna i nav-baren*/
  .navbar a:hover {
    background-color:beige;  
    color:darkslategrey;
  }
  
  /*bakgrundsfärg och textfärg på länken man är inne på*/
  .navbar a.active {
    background-color:beige;
    color: darkslategray;
  }

  h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .f1-img {
    max-height: 300px;
    float: right;
    outline: auto;
  }

  .profile-picture {
    height: 550px;
    width: auto;
    outline: auto;
  }

  .logo {
    float:right;
    max-height: 300px;   
    padding-right: 20px; 
  }

  .intrests-list li {
    font-size: 20px;
  }

  .camping-img {
    float:right;
    max-height: 400px;
    margin: 10px;
    outline: auto;
  }

  .zenith-logo {
    height: 300px;
    width: auto;
    float:right;
    margin: 5px;
  }

  h3{
    padding-top: 280px;
  }

  .kalleanka-img{
    float:right;
    height: 400px;
    width: auto;
    outline: auto;
    outline-width: 5px;
    margin-right: 100px;
  }

  .footer-img {
    margin-top: 400px;
  }